<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/list-order.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>HOD Shop</title>
</head>

<body>
    <div class="list-order">
        <header class="header row">
            <div class="row pt-2">
                <div class="col-6">
                    <span class="ms-5 text-white">Kết nối</span>
                    <i class="fa-brands fa-facebook mx-2 text-white fs-5"></i>
                    <i class="fa-brands fa-instagram text-white fs-5"></i>
                </div>
                <div class="col-6 text-end">
                    <img src="/images/user.png" alt="" width="30px" height="30px">
                    <ul class="text-white ms-2 nav-profile">
                        <li class="js-option-profile">Harikohan
                            <ul class="subnav text-black js-subnav">
                                <li><a href="/my-profile/profile">Tài khoản của tôi</a></li>
                                <li><a href="/my-profile/list-orders-status">Đơn mua</a></li>
                                <li><a href="#">Đăng xuất</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="logo col-2 text-center">
                    <a class="d-none d-lg-block" href="/">HQDShop</a>
                    <a class="d-lg-none" href="/">HQD</a>
                </div>
                <div class="col-9 input-search position-relative text-center">
                    <input type="text" placeholder="Nhập tìm kiếm">
                    <i class="fa-solid fa-magnifying-glass position-absolute"></i>
                </div>
                <div class="col-1 cart-icon">
                    <a href="/list-order">
                        <span>542</span>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>

                </div>
            </div>
        </header>
        <div class="content">
            <div class="tags-pane">
                <div class="tags m-auto">
                    <div class="row py-3 px-4">
                        <span class="col-4 tag1">Sản Phẩm</span>
                        <span class="col-2">Đơn Giá</span>
                        <span class="col-2">Số lượng</span>
                        <span class="col-2">Số tiền</span>
                        <span class="col-2">Thao tác</span>
                    </div>
                </div>
            </div>
            <div class="list-item mt-4">
                <% for(var i=0; i<5; i++) {%>
                    <div class="item m-auto mb-4">
                        <div class="row py-4 px-4 product">
                            <div class="col-4 product-pic">
                                <div class="row">'
                                    <div class="col-4">
                                        <input class="me-2" type="checkbox" name="item1">
                                        <img src="https://cf.shopee.vn/file/d84af0e068a60a3b6e910d623ab3212b" alt=""
                                            width="80px" height="80px">
                                    </div>
                                    <div class="col-7">
                                        <span>Set áo lưới cổ V cực xinh</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 product-price text-center">
                                <span class="text-decoration-underline">đ</span>
                                <span>155000</span>
                            </div>
                            <div class="col-2 num-buy text-center">
                                <button><i class="fa-solid fa-minus"></i></button>
                                <input type="number" readonly value="1">
                                <button><i class="fa-solid fa-plus"></i></button>
                            </div>
                            <div class="col-2 total-price text-center">
                                <span class="text-decoration-underline">đ</span>
                                <span>155000</span>
                            </div>
                            <div class="col-2 product-action text-center">
                                <button>Xóa</button>
                            </div>

                        </div>
                    </div>
                    <% } %>
                        <div class="confirm-order m-auto">
                            <div class="row py-4 px-4">
                                <div class="col-4">
                                    <span class="fs-4">Tất cả (10)</span>
                                </div>
                                <div class="col-4">
                                    <span class="fs-4">Tổng thanh toán</span>
                                    <span class="text-decoration-underline fs-4 currency ms-2">đ</span>
                                    <span class="fs-4 price">155000</span>
                                </div>
                                <div class="col-4 text-end">
                                    <a href="/payment" class="buy-now-btn py-2 px-5">Mua Hàng</a>
                                </div>
                            </div>
                        </div>
            </div>

        </div>
        <!-- FOOTER -->
        <div class="text-center footer pb-4">
            <i class="fa-regular fa-copyright d-inline-block"></i>
            <span>2022 - Bản quyền thuộc về HQD Shop</span>
        </div>
    </div>
</body>
<script>
    let modalProfile = document.querySelector('.js-option-profile');
    let subnav = document.querySelector('.js-subnav');
    const openProfileOptions = () => {
        subnav.classList.add('open');
    }
    const closeProfileOptions = () => {
        subnav.classList.remove('open');
    }
    modalProfile.addEventListener('mouseover', openProfileOptions);
    modalProfile.addEventListener('mouseout', closeProfileOptions);
</script>

</html>