body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 100%;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

/* MY PROFILE PAGE */
.password-setting {
    min-width: 1024px;
}

.password-setting .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateZ(0);
    z-index: 100;
    height: 100px;
    background: linear-gradient(-180deg, #f53d2d, #f63);
    transition: transform .2s cubic-bezier(.4, 0, .2, 1);
}

.password-setting ul {
    list-style-type: none;
    padding-left: 0 !important;
    display: inline-block;
}

.password-setting .nav-profile>li {
    position: relative;
}

.password-setting ul li:hover {
    cursor: pointer;
}
.password-setting .header .logo a {
    position: relative;
    top: -0.9rem;
    right: -1rem;
    text-decoration: none;
    color: rgb(210, 14, 53);
    font-weight: 800;
    font-size: 35px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* PROFILE OPTIONS WHEN LOGGED*/
.password-setting ul {
    list-style-type: none;
    padding-left: 0 !important;
    display: inline-block;
}

.password-setting .nav-profile>li {
    position: relative;
}

.password-setting ul li:hover {
    cursor: pointer;
}

/* SUBNAV */
.password-setting .subnav {
    display: none;
    z-index: 1;
    width: 150px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    /*Bóng đổ cho subnav*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.password-setting .subnav.open {
    display: block;
}

.password-setting .subnav>li {
    width: 100%;
    text-align: left;
    padding: 0.5rem;
    font-size: 0.9rem;
}

.password-setting .subnav>li a {
    text-decoration: none;
    color: #000;
}

.password-setting .subnav>li:hover {
    background-color: #d5d5d5;
}



.password-setting .cart-icon a {
    text-decoration: none;
    position: relative;
}

.password-setting .cart-icon i {
    font-size: 24px;
    color: white;
}

.password-setting .cart-icon span {
    text-align: center;
    position: absolute;
    border-radius: 50%;
    font-size: 15px;
    width: 30px;
    color: #f53d2d;
    background-color: #fff;
    top: -1rem;
    right: -1rem;
}

.password-setting .cart-icon i:hover {
    cursor: pointer;
}

.password-setting .input-search input {
    width: 80%;
}

.password-setting .input-search input:focus {
    outline: none;
}

.password-setting .input-search i {
    right: 12.5%;
    top: 6px;
}

/* CONTENT */
.password-setting .content {
    background-color: #f5f5f5;
    margin-top: 7rem;
}

.password-setting .content .setting a {
    display: block;
    text-decoration: none;
    color: #000;
    padding-left: 3.6rem;
    font-weight: 350;
}

.password-setting .content .current-tag {
    color: #f63 !important;
}

.password-setting .content .bill a {
    text-decoration: none;
    color: #000;
}

/* CARD PROFILE */
.password-setting .content .card-profile {
    background-color: #fff;
    width: 996px;
}

.password-setting .content .card-profile .header-card h6 {
    font-weight: 400;
}

.password-setting .content .card-profile .body-card .avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.password-setting .content .card-profile .body-card .avatar label {
    border: 1px solid #d5d5d5;
    width: 120px;
    padding: 10px 0;
    color: rgb(124, 138, 154);
}

.password-setting .content .card-profile .body-card .avatar label:hover {
    cursor: pointer;
}

.password-setting .card-profile .body-card .details label {
    color: rgb(124, 138, 154);
    width: 150px;
    text-align: right;
    margin-right: 1rem;
}

.password-setting .card-profile .body-card .details input {
    padding: 0.5rem;
    width: 400px;
    border: 1px solid #d5d5d5;
}

.password-setting .card-profile .body-card .details input:focus {
    outline: none;
}

.password-setting .card-profile .body-card .details .sex-profile input {
    width: 20px;
}

.password-setting .card-profile .body-card .details .sex-profile label {
    width: 50px;
    color: #000;
}

.password-setting .card-profile .body-card .details .sex-profile label:first-child {
    width: 120px;
    color: rgb(124, 138, 154);
}

.password-setting .card-profile .body-card input[type="submit"] {
    color: #ffff;
    border: 1.5px solid rgb(245, 77, 16);
    background-color: rgb(245, 77, 16);
    border-radius: 3px;
}

/* FOOTER */
.password-setting .footer {
    padding-top: 30rem;
    background-color: #f5f5f5;
    color: rgb(124, 138, 154);
}